.counters{
	padding-top: 18px;
	font-size: 0;
}
.counters___box{
	
}
.counters___stub-link, .counters___stub-link:visited, .counters___stub-link:active{
	outline: none;
	border: none;
	display: inline-block;
	text-decoration: none;
	width: 88px;
	height: 31px;
	margin-right: 14px;
}

.counters___stub-link{
	background: 50% 50% url("../ico/stub.png") no-repeat;
}
