.wrapper{
	background: #e2e0e4;
}
.row_background-3ad0c4{
	background: #3ad0c4;
}
.row_background-f8f8f8{
	background: #f8f8f8;
}
.row_background-4f4f4f{
	background: #4f4f4f;
}
.row_top-7px{
	margin-top: 7px;
}
